body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 15px/22px "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #1E90FF;
}

h1 {
  line-height: normal;
  z-index: -1;
}

input, select {
  color: #5CBB24;
  font-size: 16px;
}

#robot {
  background: url("../img/wall-e.png") no-repeat;
  background-size: contain;
  width: 70px;
  height: 70px;
  display: none;
  z-index: 1;
}

#job-container {
  display: inline-block;
  width: 400px;
  height: 200px;
}

#optimizedJobTable {

}

.main-container {
  margin: 20px;
  text-align: left;
}

.form-container {
  display: inline-block;
  vertical-align: top;
}


.grid-container {
  display: inline-block;
  position: absolute;
  offset-before: 100px;
}

.slot-nr {
  padding: 5px 0 0 2px;
}