body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 15px/22px "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #1E90FF;
}

h1 {
  line-height: normal;
  z-index: -1;
}

#robot {
  background: url("../img/wall-e.png") no-repeat;
  background-size: contain;
  width: 70px;
  height: 70px;
  display: none;
  z-index: 1;
}

.main-container {
  margin: 20px;
  text-align: left;
}

.form-container {
  display: inline-block;
  vertical-align: top;
}

.form-container input, select {
  color: #5CBB24;
  font-size: 16px;
}

.grid-container {
  display: inline-block;
  position: absolute;
  offset-before: 100px;
}
.job-container {
  display: inline-block;
}

.summary-container {
  display: none;
  border: 1px none #00BFFF;
}

